flows.json
[
    {
        "id": "8024fcac490fb5be",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6b73b97b1a2e3e4e",
        "type": "sqlitedb",
        "db": ":memory:",
        "mode": "RWC"
    },
    {
        "id": "95e2148bd09e67a0",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1db028233cd3b1b7",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d8e9bad3b2f1f8a1",
        "type": "ui_group",
        "name": "Default",
        "tab": "95e2148bd09e67a0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f392051558603cea",
        "type": "inject",
        "z": "8024fcac490fb5be",
        "name": "Create table 'distances'",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE distances ( timestamp INTEGER PRIMARY KEY NOT NULL, distance INTEGER NOT NULL)",
        "x": 210,
        "y": 220,
        "wires": [
            [
                "1dcd8bd9efde6596"
            ]
        ]
    },
    {
        "id": "1dcd8bd9efde6596",
        "type": "sqlite",
        "z": "8024fcac490fb5be",
        "mydb": "6b73b97b1a2e3e4e",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Cistern",
        "x": 520,
        "y": 220,
        "wires": [
            [
                "815405eab3e9e8fb"
            ]
        ]
    },
    {
        "id": "9e469e6b51f86e82",
        "type": "inject",
        "z": "8024fcac490fb5be",
        "name": "Create new entry",
        "props": [
            {
                "p": "payload.time",
                "v": "",
                "vt": "date"
            },
            {
                "p": "payload.distance",
                "v": "$round($random()*250, 0)",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 260,
        "wires": [
            [
                "484ddde7038fd2fd"
            ]
        ]
    },
    {
        "id": "fa62d5f898013625",
        "type": "template",
        "z": "8024fcac490fb5be",
        "name": "Create SQL Insert",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO distances VALUES ({{payload.time}}, {{payload.distance}});",
        "output": "str",
        "x": 210,
        "y": 340,
        "wires": [
            [
                "1dcd8bd9efde6596",
                "a82035c6920fdc64",
                "58dd3c8652df4b69"
            ]
        ]
    },
    {
        "id": "815405eab3e9e8fb",
        "type": "debug",
        "z": "8024fcac490fb5be",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 220,
        "wires": []
    },
    {
        "id": "8bc1b98f751b8fba",
        "type": "inject",
        "z": "8024fcac490fb5be",
        "name": "Select all",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 480,
        "wires": [
            [
                "a82035c6920fdc64"
            ]
        ]
    },
    {
        "id": "0dc9536fb7f4fea6",
        "type": "ui_chart",
        "z": "8024fcac490fb5be",
        "name": "",
        "group": "d8e9bad3b2f1f8a1",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 530,
        "y": 600,
        "wires": [
            [
                "56a3aa938c76d01b"
            ]
        ]
    },
    {
        "id": "6324d2ca8058e4ea",
        "type": "ui_button",
        "z": "8024fcac490fb5be",
        "name": "",
        "group": "d8e9bad3b2f1f8a1",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "a82035c6920fdc64",
                "58dd3c8652df4b69"
            ]
        ]
    },
    {
        "id": "17615f67019a641e",
        "type": "ui_ui_control",
        "z": "8024fcac490fb5be",
        "name": "",
        "events": "all",
        "x": 140,
        "y": 620,
        "wires": [
            [
                "a82035c6920fdc64",
                "58dd3c8652df4b69"
            ]
        ]
    },
    {
        "id": "a82035c6920fdc64",
        "type": "template",
        "z": "8024fcac490fb5be",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT * \nFROM distances",
        "output": "str",
        "x": 420,
        "y": 480,
        "wires": [
            [
                "154f0d7f36e76466"
            ]
        ]
    },
    {
        "id": "154f0d7f36e76466",
        "type": "sqlite",
        "z": "8024fcac490fb5be",
        "mydb": "6b73b97b1a2e3e4e",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Cistern",
        "x": 460,
        "y": 520,
        "wires": [
            [
                "7dd85eceb59e564a",
                "56fa0602ec7e8081"
            ]
        ]
    },
    {
        "id": "7dd85eceb59e564a",
        "type": "function",
        "z": "8024fcac490fb5be",
        "name": "",
        "func": "\n\n\nvar dict = [];\n\nfor(var entry of msg.payload)\n{\n    var timestamp = entry.timestamp;\n    var distance = entry.distance;\n    dict.push({'x': timestamp, 'y': distance});\n}\n\nmsg.payload = [{\n    \"series\": [\"Cistern\"],\n    \"data\": [ dict ],\n    \"labels\": [\"\"]\n}];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 560,
        "wires": [
            [
                "0dc9536fb7f4fea6",
                "4a366f2e81a21971"
            ]
        ]
    },
    {
        "id": "4a366f2e81a21971",
        "type": "debug",
        "z": "8024fcac490fb5be",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 560,
        "wires": []
    },
    {
        "id": "56fa0602ec7e8081",
        "type": "debug",
        "z": "8024fcac490fb5be",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 520,
        "wires": []
    },
    {
        "id": "56a3aa938c76d01b",
        "type": "debug",
        "z": "8024fcac490fb5be",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 600,
        "wires": []
    },
    {
        "id": "484ddde7038fd2fd",
        "type": "loop",
        "z": "8024fcac490fb5be",
        "name": "",
        "kind": "fcnt",
        "count": "250",
        "initial": "1",
        "step": "",
        "condition": "true",
        "conditionType": "js",
        "when": "before",
        "enumeration": "enum",
        "enumerationType": "msg",
        "limit": "",
        "loopPayload": "loop-keep",
        "finalPayload": "final-count",
        "x": 150,
        "y": 300,
        "wires": [
            [],
            [
                "fa62d5f898013625",
                "b847a8204b8ab3da"
            ]
        ]
    },
    {
        "id": "b847a8204b8ab3da",
        "type": "debug",
        "z": "8024fcac490fb5be",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 280,
        "wires": []
    },
    {
        "id": "17d0969436fb48e3",
        "type": "function",
        "z": "8024fcac490fb5be",
        "name": "",
        "func": "\n\n\nvar dict = [];\n\nfor(var entry of msg.payload)\n{\n    var timestamp = entry.timestamp;\n    var distance = entry.distance;\n    dict.push({'x': timestamp, 'y': distance});\n}\n\nmsg.payload = [{\n    \"series\": [\"Cistern2\"],\n    \"data\": [ dict ],\n    \"labels\": [\"\"]\n}];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 760,
        "wires": [
            [
                "3d869c7f97f17fc0"
            ]
        ]
    },
    {
        "id": "3d869c7f97f17fc0",
        "type": "ui_chart",
        "z": "8024fcac490fb5be",
        "name": "",
        "group": "d8e9bad3b2f1f8a1",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 490,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "0d10dac2391e4e99",
        "type": "sqlite",
        "z": "8024fcac490fb5be",
        "mydb": "6b73b97b1a2e3e4e",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Cistern",
        "x": 460,
        "y": 720,
        "wires": [
            [
                "17d0969436fb48e3",
                "12fecd40533f5ce3"
            ]
        ]
    },
    {
        "id": "58dd3c8652df4b69",
        "type": "template",
        "z": "8024fcac490fb5be",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT * \nFROM distances \nWHERE datetime(timestamp/1000,'unixepoch') > datetime('now', '-10 seconds');",
        "output": "str",
        "x": 420,
        "y": 680,
        "wires": [
            [
                "0d10dac2391e4e99"
            ]
        ]
    },
    {
        "id": "d202ae74389ad229",
        "type": "inject",
        "z": "8024fcac490fb5be",
        "name": "Select last seconds",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 390,
        "y": 640,
        "wires": [
            [
                "58dd3c8652df4b69"
            ]
        ]
    },
    {
        "id": "12fecd40533f5ce3",
        "type": "debug",
        "z": "8024fcac490fb5be",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 720,
        "wires": []
    }
]